@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  // padding: 0;
  @include transitionsall;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-login {
  background-color: #FB923C;
  color: #FCFCFD;
  text-align: center;
  font-family: $inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  color: $white;
  padding: 12px 16px;
  border-radius: 100px;
  min-width: 140px;
  @include hover {
    background-color: darken(#FB923C,10%);
  }
}
.btn-apply {
  background-color: $primary;
  color: #FCFCFD;
  text-align: center;
  font-family: $inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  color: $white;
  padding: 12px 16px;
  border-radius: 100px;
  min-width: 140px;
  @include hover {
    background-color: darken($primary,10%);
  }
}