@use "../../global" as *;
@use "../../partials" as *;

.accordion-item {
  color: black;
  background-color: transparent;
  border: none;
}

.accordion-button {
  padding: 0px;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.accordion-body li a {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
