@use "../../global" as *;
@use "../../partials" as *;

.rightcard {
    display: flex;
    border: 1px solid #E5E7EB;
    padding:12px 24px;
    border-radius: 14px;
    background-color: $white;
    .icon {
        flex-shrink: 0;
    }
    .content {
        @include flex-column;
        gap: size(6);
    }
    .name {
        color:  #000;
        font-family: $inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1px;
    }
    p {
        color:  #1F2937;
        font-family: $inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; 
        letter-spacing: 0.07px;
    } 
    a {
        color: #1E40AF;
        font-family: $inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: 0.08px;
        @include hover {
            text-decoration: underline;
        }
    }
}

.collabcard {
    border: 1px solid #E5E7EB;
    padding: 22px;
    @include flex-column;
    gap: size(10);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 14px;
    .text {
        color:  #1F2937;
        text-align: center;

        /* XS/Semi Bold */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.06px;
    }

}