// GOOGLE-FONTS(CDN)
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// BOOTSTRAP-ICON(CDN)
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

$nunito: "Nunito", sans-serif;
$eczar: "Eczar", serif;
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
