@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: inherit;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  font-family: inherit;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  scroll-snap-type: y mandatory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  text-wrap: balance;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

svg,
picture {
  width: 100%;
  height: 100%;
}

a {
  transition: all 350ms ease-in-out;
}

a,
span {
  display: inline-block;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

strong,
i {
  font-weight: bolder;
}

iframe {
  width: 100%;
}

select {
  cursor: pointer;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-4,
.display-5,
.display-6 {
  font-family: "Nunito", sans-serif;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

hr {
  margin: 0rem;
  opacity: 1;
}

button,
[type=button],
[type=reset],
[type=submit] {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  transition: all 350ms ease-in-out;
}
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
  box-shadow: none;
  outline: none;
}

.btn-login {
  background-color: #fb923c;
  color: #fcfcfd;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  color: hsl(0, 0%, 100%);
  padding: 12px 16px;
  border-radius: 100px;
  min-width: 80px;
}
.btn-login:not([disabled]):hover {
  background-color: #fa760a;
}
@media screen and (min-width: 75rem) {
  .btn-login {
    min-width: 140px;
  }
}

.btn-apply {
  background-color: hsl(224, 64%, 33%);
  color: #fcfcfd;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  color: hsl(0, 0%, 100%);
  padding: 12px 16px;
  border-radius: 100px;
  min-width: 12\0 px;
}
.btn-apply:not([disabled]):hover {
  background-color: #152960;
}
@media screen and (min-width: 75rem) {
  .btn-apply {
    min-width: 140px;
  }
}

.rightcard {
  display: flex;
  border: 1px solid #E5E7EB;
  padding: 12px 24px;
  border-radius: 14px;
  background-color: hsl(0, 0%, 100%);
}
.rightcard .icon {
  flex-shrink: 0;
}
.rightcard .content {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.rightcard .name {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}
.rightcard p {
  color: #1F2937;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.07px;
}
.rightcard a {
  color: #1E40AF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
}
.rightcard a:not([disabled]):hover {
  text-decoration: underline;
}

.collabcard {
  border: 1px solid #E5E7EB;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 14px;
}
.collabcard .text {
  color: #1F2937;
  text-align: center;
  /* XS/Semi Bold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}

.card-ranking {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 30px;
  border-radius: 30px;
  background: #F3F4F6;
}
.card-ranking figure {
  width: 100%;
  height: auto;
}
.card-ranking figure img {
  width: 100%;
  height: 100%;
}
.card-ranking .text {
  color: #1F2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.card-facility {
  border-radius: 16px;
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.card-facility .icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: flex-start;
  gap: 6.833px;
  flex-shrink: 0;
  background-color: #F6E1CF;
  padding: 9px;
  border-radius: 100%;
}
.card-facility .facility-name {
  color: #1F2937;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09px;
}
.card-facility p {
  color: #1F2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.cardfaculties {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.cardfaculties:not([disabled]):hover .facultiethumn {
  transform: scale(0.96);
}
.cardfaculties .facultiethumn {
  height: 242px;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  transition: transform 350ms ease-in-out;
}
.cardfaculties .facultiethumn img {
  width: 100%;
  height: 100%;
}
.cardfaculties .facultie-title {
  color: hsl(224, 64%, 33%);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09px;
}
.cardfaculties .facultie-text {
  color: #1F2937;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}

header {
  height: 97px;
  background: hsl(0, 0%, 100%);
  position: relative;
  z-index: 999;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 97px;
  background-color: hsl(0, 0%, 100%);
}
header .deskmenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 1rem;
}
header .deskmenu a {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
  font-family: "Inter", sans-serif;
}
header .deskmenu a:hover {
  color: hsl(224, 64%, 33%);
}
@media screen and (min-width: 75rem) {
  header .deskmenu a {
    font-size: 12px;
  }
}
@media screen and (min-width: 85.4375rem) {
  header .deskmenu a {
    font-size: 14px;
  }
}
header .right-menu {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}
header .news {
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.08);
  height: 50px;
  top: 100%;
  position: relative;
  width: 80%;
  margin: auto;
  top: -17px;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
header .news .left {
  padding: 11px 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 1;
  border-top-left-radius: 10px;
  border-right: 0;
}
header .news .left .news-pill {
  background: #dbeafe;
  padding: 6px;
  display: inline-block;
  border-radius: 999px;
  color: #2563eb;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.06px;
}
header .news .right {
  overflow: hidden;
  flex-grow: 1;
}
header .news-hidden {
  opacity: 0;
  visibility: hidden;
}

.news-marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}
.news-marquee span {
  background-color: #f3f4f6;
  padding: 5px 7px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.06px;
}
.news-marquee span:nth-child(1) {
  color: #1e40af;
}
.news-marquee span:nth-child(2) {
  color: #c2410c;
}
.news-marquee span:nth-child(3) {
  color: #115e59;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.menudropdownlist {
  position: relative;
}
.menudropdownlist:hover > a {
  color: hsl(224, 64%, 33%);
  font-weight: 600;
}
.menudropdownlist:hover .dropdown-box {
  display: block;
}

.dropdown-box {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 100%;
  display: none;
  animation-name: slideUpIn;
  animation-duration: 350ms;
  animation-fill-mode: both;
}

.menudropdown {
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  padding: 50px;
  border: 1px solid #e5e7eb;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.menudropdown a {
  padding: 10px 20px;
  display: block;
}
.menudropdown a:hover {
  transform: translateX(2px);
}

@keyframes slideUpIn {
  0% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(1.25rem);
  }
}
input,
select,
textarea {
  border: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:focus::before,
input[type=date]:valid::before {
  display: none;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
input[type=search]::-webkit-search-decoration:focus,
input[type=search]::-webkit-search-cancel-button:focus,
input[type=search]::-webkit-search-results-button:focus,
input[type=search]::-webkit-search-results-decoration:focus {
  outline: none;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  box-shadow: none;
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
  outline: none;
}

.was-validated .form-control:valid:focus {
  box-shadow: none;
  outline: none;
}

.offcanvas {
  background: hsl(0, 0%, 100%);
  min-height: 100vh;
}
.offcanvas.offcanvas-top {
  border-bottom: 0;
}
.offcanvas.offcanvas-bottom {
  border-top: 0;
}
.offcanvas.offcanvas-start {
  border-right: 0;
  width: 17.5rem;
}
.offcanvas.offcanvas-end {
  border-left: 0;
}
.offcanvas-header .btn-close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0rem;
  transition: all 350ms ease-in-out;
}
.offcanvas-header .btn-close:not([disabled]):hover {
  opacity: 1;
  transform: rotate(180deg);
}
.offcanvas-header .btn-close:not([disabled]):hover svg path {
  fill: hsl(0, 91%, 54%);
}
.offcanvas-body {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.offcanvas-body::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}
.offcanvas-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

.modal-content {
  border-radius: 1.25rem;
}
.modal-header {
  border: 0;
}
.modal-header .btn-close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
}
.modal-header .btn-close i {
  font-size: 1.5rem;
}
.modal-header .btn-close svg {
  width: 100%;
  height: 100%;
  transition: transform 350ms ease-in-out;
}
.modal-header .btn-close:not([disabled]):hover {
  opacity: 1;
  transform: rotate(180deg);
}
.tooltip-inner {
  font-size: 0.75rem;
}
footer {
  background: #04152d;
  padding-top: 100px;
}
footer .addressbox {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 28px;
}
footer .addressbox h5 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08px;
}
footer .addressbox p {
  color: var(--colors-white-70, rgba(255, 255, 255, 0.7));
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}
footer .socialbox {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 10px;
}
footer .socialbox h5 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08px;
}
footer .socialbox ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}
footer .socialbox ul a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #182d49;
  padding: 10px;
  border-radius: 100%;
}
footer .footerbox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .footerbox h3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18.75px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 170.667% */
  letter-spacing: -0.5px;
}
footer .footerbox ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
footer .footerbox ul a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.5px;
}
footer .footerbox ul a:not([disabled]):hover {
  color: hsl(224, 64%, 33%);
}
footer .copyright-text {
  color: white;
}

.preloader {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 9999999999;
}
.preloader .loader {
  width: 9.375rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-7 {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader-7:after, .loader-7:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(4rem / 8);
  height: calc(4rem / 8);
  border-radius: 100%;
}
.loader-7:before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
table tr {
  vertical-align: middle;
}
table tr th,
table tr td {
  vertical-align: middle;
}

.accordion-item {
  color: black;
  background-color: transparent;
  border: none;
}

.accordion-button {
  padding: 0px;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion-body li a {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

/* general styles */
:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.customcheck .checkprivacy:checked ~ .checklabel::after {
  opacity: 1;
  visibility: visible;
}
.customcheck .checklabel {
  cursor: pointer;
  position: relative;
  padding-left: 1.875rem;
}
.customcheck .checklabel::before, .customcheck .checklabel::after {
  content: "";
  position: absolute;
}
.customcheck .checklabel::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.25rem;
  transition: all 350ms ease-in-out;
}
.customcheck .checklabel::after {
  width: 0.625rem;
  height: 0.3125rem;
  border: solid 0.0625rem hsl(0, 0%, 100%);
  border-top: 0;
  left: 0.28125rem;
  border-right: 0;
  top: 50%;
  transform: translateY(-70%) rotate(-45deg);
  opacity: 0;
  visibility: hidden;
  transition: transform 350ms ease-in-out;
}
.customcheck .checklabel .checklink {
  transition: color 350ms ease-in-out;
  text-decoration: none;
}
.categoryradio .radiolabel {
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  text-align: center;
}
.categoryradio .radiolabel .icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.categoryradio .radiolabel .categorytitle {
  font-size: 0.875rem;
  font-weight: 500;
}

.langselect {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: hsl(0, 0%, 100%) url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.6521L12 12.3478L18 7.6521' stroke='%23543E93' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-origin: content-box;
  background-position: center right 0;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  width: 4.625rem;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
}
@media screen and (min-width: 62rem) {
  .langselect {
    width: 8.75rem;
    height: 2.875rem;
    padding: 0.625rem 1rem;
  }
}

.section-top {
  background-color: hsl(224, 64%, 33%);
  height: 42px;
}

.hero {
  background-color: #dee1eb;
  position: relative;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px 100%;
  background-image: url(../../assets/images/heor.png);
}
@media screen and (min-width: 36rem) {
  .hero {
    background-size: auto 100%;
  }
}
@media screen and (min-width: 100rem) {
  .hero {
    min-height: 60vh;
  }
}
.hero .left-content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.hero .left-content .hero-top {
  color: hsl(30, 100%, 56%);
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
}
.hero .left-content .title {
  color: hsl(224, 64%, 33%);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.902%; /* 72.541px */
  letter-spacing: 0.3px;
  margin-top: 5px;
}
@media screen and (min-width: 36rem) {
  .hero .left-content .title {
    font-size: 40px;
  }
}
@media screen and (min-width: 62rem) {
  .hero .left-content .title {
    font-size: 60px;
  }
}
.hero .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
@media screen and (min-width: 36rem) {
  .hero .video-play-button {
    width: 32px;
    height: 44px;
  }
}
.hero .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
@media screen and (min-width: 36rem) {
  .hero .video-play-button:before {
    width: 80px;
    height: 80px;
  }
}
.hero .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #2d3092;
  border-radius: 50%;
  transition: all 200ms;
}
@media screen and (min-width: 36rem) {
  .hero .video-play-button:after {
    width: 80px;
    height: 80px;
  }
}
.hero .video-play-button:hover:after {
  background-color: #21236b;
}
.hero .video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.hero .video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 18px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 15px solid transparent;
  top: 2px;
  left: 6px;
}
@media screen and (min-width: 36rem) {
  .hero .video-play-button span {
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    top: auto;
    left: auto;
  }
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.hero .video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}
.hero .video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}
.hero .video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}
.hero .video-overlay-close:hover {
  color: #fa183d;
}
.hero .video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  height: 80vh;
}

.slider-part {
  margin-top: -50px;
}
.slider-part figure {
  height: auto;
  border-radius: 30px;
  border: 6px solid #fff;
  overflow: hidden;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.03);
}
.slider-part figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.counter-section {
  padding: 50px 0;
  text-align: center;
}
.counter-section .counter {
  margin-bottom: 20px;
}
.counter-section .counter h2 {
  color: #2D3092;
  /* 5XL/Bold */
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.counter-section .counter p {
  color: #6B7280;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.cursor {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 111;
  border: 1px solid #000;
  transition: all 0.2s ease-out;
  animation: moveCursor1 0.5s infinite alternate;
  background-color: hsl(224, 64%, 33%);
  opacity: 0.5;
}

.expand {
  background: transparent;
  animation: moveCursor2 0.5s forwards;
  border: 1px solid #000;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.about {
  padding: 70px 0 90px 0;
}
.about .left-content {
  background-color: #F3F4F6;
  border-radius: 40px;
  border-top: 4px solid hsl(30, 100%, 56%);
  padding-bottom: 43px;
}
.about .left-top {
  background-color: hsl(30, 100%, 56%);
  width: 80%;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  height: 56px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
}
.about .left-top .top-title {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09px;
}
.about .left-top .des {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}
.about .info-wrapper {
  display: flex;
  padding-inline: 40px;
  align-items: center;
  gap: 40px;
  margin-top: 25px;
  flex-direction: column;
}
@media screen and (min-width: 30rem) {
  .about .info-wrapper {
    flex-direction: row;
  }
}
.about .info-wrapper figure {
  width: 160px;
  height: 200px;
  border-radius: 105px;
  border: 3px solid #FFF;
  overflow: hidden;
  flex-shrink: 0;
}
.about .info-wrapper figure img {
  width: 100%;
  height: 100%;
}
.about .info-wrapper .right-title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: center;
}
@media screen and (min-width: 30rem) {
  .about .info-wrapper .right-title {
    text-align: left;
  }
}
.about .info-wrapper .des {
  color: #6B7280;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
  text-align: center;
}
@media screen and (min-width: 30rem) {
  .about .info-wrapper .des {
    text-align: left;
  }
}
.about .content {
  padding-inline: 40px;
  margin-top: 11px;
}
.about .content p {
  color: #1F2937;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.07px;
}
.about .content .learn-more {
  color: hsl(224, 64%, 33%);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
}
.about .right-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about.reverse {
  background-color: hsl(224, 64%, 33%);
}

.collab {
  padding: 30px 0;
}
.collab .section-title {
  color: #2D3092;
  text-align: center;
  /* 3XL/Bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  padding-bottom: 25px;
}

.collab-cards {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
}

.ranking-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 40px;
}
.ranking-wrapper .ranking-title {
  color: hsl(224, 64%, 33%);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
}

.facilities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.facilities-wrapper .facilities-title {
  color: hsl(224, 64%, 33%);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: center;
}
.facilities-wrapper .facilities {
  display: flex;
  padding: 20px 34px;
  border-radius: 29px;
  background: #F3F4F6;
  gap: 10px;
  flex-direction: column;
}
@media screen and (min-width: 62rem) {
  .facilities-wrapper .facilities {
    flex-direction: row;
    gap: 3px;
  }
}

.ourfaculties {
  padding-bottom: 50px;
  padding-top: 30px;
}
.ourfaculties .section-title {
  color: #2D3092;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  padding-bottom: 30px;
}

.eventnotice {
  padding-bottom: 100px;
  margin-top: 50px;
}
.eventnotice .section-title {
  color: #2D3092;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 62rem) {
  .eventnotice .section-title {
    text-align: left;
  }
}
.eventnotice .events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.eventnotice .event {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 16px;
  border: 1px solid #E5E7EB;
  background: #FFF;
  flex-direction: column;
  /* Box Shadow/sm */
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.03);
}
@media screen and (min-width: 36rem) {
  .eventnotice .event {
    flex-direction: row;
  }
}
.eventnotice .event .event-thumb {
  height: 170px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  border: 5px solid #FFF;
  overflow: hidden;
}
@media screen and (min-width: 36rem) {
  .eventnotice .event .event-thumb {
    width: 160px;
    border-radius: 16px 0px 0px 16px;
  }
}
@media screen and (min-width: 62rem) {
  .eventnotice .event .event-thumb {
    width: 200px;
  }
}
.eventnotice .event .event-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.eventnotice .event .event-content {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 16px;
}
@media screen and (min-width: 36rem) {
  .eventnotice .event .event-content {
    padding: 0;
  }
}
.eventnotice .event .event-content .event-name {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09px;
}
.eventnotice .event .event-content .event-des {
  color: #1F2937;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}
.eventnotice .event .event-content .learn-more {
  color: #1E40AF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  margin-top: 20px;
}
.eventnotice .view-all {
  color: #1E40AF;
  display: block;
  text-align: center;
  /* Base/Semi Bold */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  margin-top: 24px;
}
@media screen and (min-width: 62rem) {
  .eventnotice .view-all {
    text-align: left;
  }
}
.eventnotice .notices {
  border-radius: 32px;
  background: hsl(224, 64%, 33%);
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.eventnotice .notices .notice {
  display: flex;
  gap: 0.875rem;
  border-radius: 15px;
  border: 1px solid #E5E7EB;
  background: #FFF;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.03);
  padding: 14px;
  align-items: center;
}
.eventnotice .notices .notice .date {
  flex-shrink: 0;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  border-radius: 9px;
  background: #FFE6C2;
}
.eventnotice .notices .notice .date .day {
  color: #EA580C;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.eventnotice .notices .notice .date .month {
  color: var(--Text-Black-Color, #000);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06px;
}
.eventnotice .notices .notice .notice-content {
  padding: 10px 0;
  color: #1F2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}

.authorize-by {
  padding: 50px 0;
  padding-top: 0;
}
@media screen and (min-width: 36rem) {
  .authorize-by {
    padding-top: 50px;
  }
}
.authorize-by .line {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
@media screen and (min-width: 36rem) {
  .authorize-by .line {
    gap: 3.75rem;
  }
}
.authorize-by .line span {
  white-space: nowrap;
  color: #1E40AF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.authorize-by .line .drow {
  flex-grow: 1;
  height: 3px;
  background-color: #E5E7EB;
  display: block;
  width: 100%;
}
.authorize-by .authorize-wrapper {
  padding: 45px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 36rem) {
  .authorize-by .authorize-wrapper {
    gap: 37px;
  }
}
.authorize-by .authorize-wrapper img {
  transition: all 350ms ease-in-out;
}
.authorize-by .authorize-wrapper img:not([disabled]):hover {
  filter: grayscale(1);
}

.h-full {
  height: 100vh;
}

.title {
  font-family: "Eczar", serif;
  font-size: 1.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: hsl(224, 64%, 33%);
}
@media screen and (min-width: 36rem) {
  .title {
    font-family: "Eczar", serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
  }
}

.des {
  color: hsl(0, 0%, 39%);
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3333333333;
  margin-bottom: 12px;
}

.banner_title {
  font-family: "Eczar", serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  color: hsl(224, 64%, 33%);
}

.banner_body {
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4444444444;
  color: #8b8989;
}

.section-top {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: center;
  text-align: center;
}
.section-top .title {
  font-family: "Eczar", serif;
  font-size: 1.875rem;
  font-weight: semibold;
  font-style: normal;
  line-height: 1.5;
  color: hsl(224, 64%, 33%);
}
@media screen and (min-width: 36rem) {
  .section-top .title {
    font-family: "Eczar", serif;
    font-size: 2.5rem;
    font-weight: semibold;
    font-style: normal;
    line-height: 1.3;
  }
}
.section-top .des {
  color: hsl(0, 0%, 39%);
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: medium;
  font-style: normal;
  line-height: 1.3333333333;
}

.flex-1 {
  flex: 1;
}

.text-justify {
  text-align: justify;
}

.lightyellow-bg {
  background: #fff6e9 !important;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}

.updown {
  animation: updown 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(0.75rem);
  }
  100% {
    transform: translateY(0.25rem);
  }
}
@keyframes slideDownIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownInMobile {
  0% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateY(0.625rem);
  }
  0% {
    transform: translateY(-1.25rem);
  }
}
@keyframes slideUpIn {
  0% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(1.25rem);
  }
}
@keyframes slideUpInMobile {
  0% {
    transform: translateY(2.5rem);
  }
  100% {
    transform: translateY(1.5625rem);
  }
  0% {
    transform: translateY(2.5rem);
  }
}
@keyframes slideLeftIn {
  0% {
    transform: translateX(6.25rem);
  }
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-6.25rem);
  }
}
@keyframes slideRightIn {
  0% {
    transform: translateX(6.25rem);
  }
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(6.25rem);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */