@use "../global" as *;
@use "../partials" as *;

.h-full {
  height: 100vh;
}

.title {
  @include font($eczar, 30, 500, normal, 45);
  @include breakpoint(mobile576) {
    @include font($eczar, 40, 500, normal, 52);
  }
  color: $primary;
}
.des {
  color: $section-top-des;
  @include font($nunito, 18, 400, normal, 24);
  margin-bottom: 12px;
}

.banner_title {
  @include font($eczar, 40, 500, normal, 52);
  color: $primary;
}
.banner_body {
  @include font($nunito, 18, 500, normal, 26);
  color: $section_para;
}
.section-top {
  @include flex-column;
  gap: size(2);
  align-items: center;
  text-align: center;
  .title {
    @include font($eczar, 30, semibold, normal, 45);
    @include breakpoint(mobile576) {
      @include font($eczar, 40, semibold, normal, 52);
    }
    color: $primary;
  }
  .des {
    color: $section-top-des;
    @include font($nunito, 18, medium, normal, 24);
  }
}
.flex-1 {
  flex: 1;
}

.text-justify {
  text-align: justify;
}

.lightyellow-bg {
  background: #fff6e9 !important;
}
